body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.background {
    position: relative;
    height: 100%;
    width: 100%;
}

.background::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('mlkphoto.jpg'); 
    background-size: cover;
    background-position: center;
    opacity: 0.6; 
    z-index: -1;
}

.button-container {
    position: absolute;
    bottom: 10%;
    left: 5%; 
    display: flex;
    justify-content: flex-start; 
    width: auto; 
}

.enter-button {
    font-family: 'Special Elite', sans-serif; 
    font-size: 2em; 
    padding: 10px 20px; 
    color: white;
    background-color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 1em 0; 
    text-transform: none; 
}

.enter-button:hover {
    background-color: #555;
}